## DATAFRAME

In [6]:
import numpy as np
import pandas as pd

In [7]:
data = np.random.randn(4,3)

In [8]:
data

array([[ 0.00853625, -0.3895937 , -0.97562883],
       [ 1.33836844, -0.3163605 ,  0.11398823],
       [-0.95018344, -1.66838069, -0.95702532],
       [ 0.83133242,  0.11774678, -1.49493107]])

## dataframe objesi

In [9]:
dataFrame = pd.DataFrame(data)

In [10]:
dataFrame

          0         1         2
0  0.008536 -0.389594 -0.975629
1  1.338368 -0.316360  0.113988
2 -0.950183 -1.668381 -0.957025
3  0.831332  0.117747 -1.494931

In [11]:
dataFrame[0] # içeriye yazılan sütunları getirir

0    0.008536
1    1.338368
2   -0.950183
3    0.831332
Name: 0, dtype: float64

In [12]:
dataFrame[2]

0   -0.975629
1    0.113988
2   -0.957025
3   -1.494931
Name: 2, dtype: float64

In [13]:
type(dataFrame)

pandas.core.frame.DataFrame

## DİKKAT columns = ["a", "b"....]

In [14]:
yeniDataFrame = pd.DataFrame(data, index = ["Yiğit", "Reyhan", "Sercan", "Şevki"], columns=["Yaş","Maaş","Frekans"])

In [15]:
yeniDataFrame

             Yaş      Maaş   Frekans
Yiğit   0.008536 -0.389594 -0.975629
Reyhan  1.338368 -0.316360  0.113988
Sercan -0.950183 -1.668381 -0.957025
Şevki   0.831332  0.117747 -1.494931

## Dataframe satır getirme, dataframe.loc["xyz"] xyz: indeks ismi

In [16]:
yeniDataFrame.loc["Yiğit"] # .loc yazılmalı

Yaş        0.008536
Maaş      -0.389594
Frekans   -0.975629
Name: Yiğit, dtype: float64

## dataframe.iloc[1,2,3,.......] > indeks bazlı sıralama

In [17]:
yeniDataFrame.iloc[2] # 2. satır değerlerini döndürdü

Yaş       -0.950183
Maaş      -1.668381
Frekans   -0.957025
Name: Sercan, dtype: float64

In [20]:
yeniDataFrame.loc["Şevki"]

Yaş        0.831332
Maaş       0.117747
Frekans   -1.494931
Name: Şevki, dtype: float64