## Multi İndexing

In [1]:
import numpy as np
import pandas as pd

In [2]:
dataSet = np.random.randn(6,6)

In [3]:
dataSet

array([[ 2.49332990e-01,  3.91031496e-01, -6.31638652e-01,
        -4.59426743e-01, -7.01665235e-01, -1.34337220e+00],
       [-3.68644467e-01,  2.22036005e-02,  1.82891239e+00,
        -3.30193688e-01, -1.24811370e+00,  1.01243946e-03],
       [-1.27513841e+00,  2.61646837e-01, -6.29633741e-01,
         9.68266118e-01, -1.16958539e+00,  9.91119785e-01],
       [-3.96781427e-01, -3.01674681e-01, -1.48739257e-01,
         1.67716121e+00,  4.20052553e-01,  2.43177688e-01],
       [ 1.19178096e+00, -8.44198392e-01,  9.18987026e-01,
         3.59492488e-01,  1.93561851e+00, -1.42037208e-01],
       [-6.07721869e-01, -5.66915622e-02,  5.93921362e-01,
        -5.51755204e-01,  9.57089203e-01,  3.26995892e-01]])

In [8]:
firstIndex = ["Simpson","Simpson","Simpson","South Park","South Park","South Park"]

In [9]:
secondIndex = ["Homer","Bart","Marge", "Cartman","Kenny","Kyle"]

In [10]:
mergedIndex = list(zip(firstIndex,secondIndex))

In [11]:
mergedIndex

[('Simpson', 'Homer'),
 ('Simpson', 'Bart'),
 ('Simpson', 'Marge'),
 ('South Park', 'Cartman'),
 ('South Park', 'Kenny'),
 ('South Park', 'Kyle')]

## Multiİndex methodu

In [16]:
mergedIndex = pd.MultiIndex.from_tuples(mergedIndex)

In [19]:
mergedIndex

MultiIndex([(   'Simpson',   'Homer'),
            (   'Simpson',    'Bart'),
            (   'Simpson',   'Marge'),
            ('South Park', 'Cartman'),
            ('South Park',   'Kenny'),
            ('South Park',    'Kyle')],
           )

In [20]:
cartoonList = [[10,"A"], [11, "B"], [12,"C"], [13, "D"], [14,"E"], [15,"F"] ]

In [21]:
len(cartoonList)

6

In [22]:
cartoonList

[[10, 'A'], [11, 'B'], [12, 'C'], [13, 'D'], [14, 'E'], [15, 'F']]

In [25]:
cartoonArray = np.array(cartoonList)

In [26]:
cartoonArray

array([['10', 'A'],
       ['11', 'B'],
       ['12', 'C'],
       ['13', 'D'],
       ['14', 'E'],
       ['15', 'F']], dtype='<U11')

In [27]:
cartoonDataFrame = pd.DataFrame(data = cartoonArray, index = mergedIndex, columns = ["Age", "Job"])

In [28]:
cartoonDataFrame

                   Age Job
Simpson    Homer    10   A
           Bart     11   B
           Marge    12   C
South Park Cartman  13   D
           Kenny    14   E
           Kyle     15   F

In [33]:
cartoonDataFrame.loc["Simpson"]

      Age Job
Homer  10   A
Bart   11   B
Marge  12   C

## Birleştirilmiş indekslerden iç indexin getirilmesi : dataFrame.loc["xxx"].loc["yyy"]

In [37]:
cartoonDataFrame.loc["Simpson"].loc["Homer"]

Age    10
Job     A
Name: Homer, dtype: object

## İndexlerin ismini değiştirme-ekleme

In [38]:
cartoonDataFrame.index.names = ["Cartoon", "Characters"]

In [40]:
cartoonDataFrame # artık isimler değiştirildi

                      Age Job
Cartoon    Characters
Simpson    Homer       10   A
           Bart        11   B
           Marge       12   C
South Park Cartman     13   D
           Kenny       14   E
           Kyle        15   F