## Eksik veriler olması halinde

In [21]:
import numpy as np
import pandas as pd

In [46]:
forecastDict = {"İstanul": [29,30,np.nan], "Ankara": [34,np.nan,21], "İzmir": [39,40,36], "Antalya": [np.nan, np.nan,43]}
days = ["Pazartesi", "Salı", "Çarşamba"]

In [47]:
forecastDataFrame = pd.DataFrame(data= forecastDict)

In [60]:
forecastDataFrame["Günler"] = days
forecastDataFrame.set_index("Günler", inplace = True)

## ÖNEMLİ

In [61]:
forecastDataFrame

           İstanul  Ankara  İzmir  Antalya
Günler
Pazartesi     29.0    34.0     39      NaN
Salı          30.0     NaN     40      NaN
Çarşamba       NaN    21.0     36     43.0

In [62]:
forecastDataFrame.dropna(axis=1, thresh =2) # axis= 1 sütunlarda işlem yapar
# thresh= 2 ise 2 veya üzerinde NaN olan verilerin olduğu sütunu atar

           İstanul  Ankara  İzmir
Günler
Pazartesi     29.0    34.0     39
Salı          30.0     NaN     40
Çarşamba       NaN    21.0     36

## Boş verileri doldurmak

In [71]:
forecastDataFrame.fillna(20)
# 
# forecastDataFrame.fillna(forecastDataFrame.mean()) ben uydurdum

           İstanul  Ankara  İzmir  Antalya
Günler
Pazartesi     29.0    34.0     39     20.0
Salı          30.0    20.0     40     20.0
Çarşamba      20.0    21.0     36     43.0