## CONCAT

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
dic1 = {"İsim" : ["Ahmet", "Mehmet", "Zeynep", "Orhan"], "Spor": ["Koşu", "Yüzme","Basketbol", "Futbol"],
        "Kalori": [100,200,350,220]}

In [17]:
dic1

{'İsim': ['Ahmet', 'Mehmet', 'Zeynep', 'Orhan'],
 'Spor': ['Koşu', 'Yüzme', 'Basketbol', 'Futbol'],
 'Kalori': [100, 200, 350, 220]}

In [18]:
dic1_frame = pd.DataFrame(data = dic1)

In [19]:
dic1_frame

     İsim       Spor  Kalori
0   Ahmet       Koşu     100
1  Mehmet      Yüzme     200
2  Zeynep  Basketbol     350
3   Orhan     Futbol     220

In [20]:
dic2 = {"İsim" : ["Kemal", "Şevki", "Yiğit", "Darya"], "Spor": ["Koşu", "Yüzme","Satranç", "Futbol"],
        "Kalori": [170,340,550,700]}
dic2_frame = pd.DataFrame(data = dic2,  index = [4,5,6,7])
dic2_frame

    İsim     Spor  Kalori
4  Kemal     Koşu     170
5  Şevki    Yüzme     340
6  Yiğit  Satranç     550
7  Darya   Futbol     700

In [21]:
dic3 = {"İsim" : ["Sercan", "Reyhan", "Deniz", "Oktay"], "Spor": ["Koşu", "Yüzme","Basketbol", "Tenis"],
    "Kalori": [120,900,610,450]}
dic3_frame = pd.DataFrame(data = dic3, index = [8,9,10,11])

In [22]:
dic3_frame

      İsim       Spor  Kalori
8   Sercan       Koşu     120
9   Reyhan      Yüzme     900
10   Deniz  Basketbol     610
11   Oktay      Tenis     450

In [26]:
son = pd.concat([dic1_frame,dic2_frame, dic3_frame], axis = 0)

## Bu sayede dataframeler birleştirildi

In [27]:
son

      İsim       Spor  Kalori
0    Ahmet       Koşu     100
1   Mehmet      Yüzme     200
2   Zeynep  Basketbol     350
3    Orhan     Futbol     220
4    Kemal       Koşu     170
5    Şevki      Yüzme     340
6    Yiğit    Satranç     550
7    Darya     Futbol     700
8   Sercan       Koşu     120
9   Reyhan      Yüzme     900
10   Deniz  Basketbol     610
11   Oktay      Tenis     450